{% extends 'base.html.twig' %}

{% block title 'Administartion : Editer les biens' %}

{% block body %}
    <div class="container mt-4" >
        <h1>Editer les biens</h1> 
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form) }}</div>
            <div class="col-md-4">{{ form_row(form) }}</div>
            <div class="col-md-4">{{ form_row(form) }}</div>


            {{ form_widget(form) }}
                <button class="btn btn-primary">Editer</button>
            {{ form_end(form) }}
        </div>  
    </div> 
{% endblock %}
